html, body
    min-height: 100vh
    // font-family: Roboto, sans-serif
    color: black
    margin 0
    padding 0

html
    overflow hidden

[disabled]
    cursor: not-allowed


canvas
    position relative 
    // width 100%
    // height 100%


.animated
    transition all ease 0.2s
